/* .aboutBlackBoard{
  background-color: #333;
  font-family: 'Grape Nuts', cursive;
  max-width: 50rem;
  text-align: center;
  margin: auto;
  border-radius: 5px;
  border: solid white;
  margin-top: 1rem;
} */
.aboutBlackBoard h3{
  color: white;
  font-size: 32px;
  text-align: center;
}
.aboutBlackBoard p{
  color: white;
  font-size: 20px;
}

.flip-card{
  background-color: transparent;
  width: 600px;
  height: 300px;
  perspective: 1000px;
  margin: auto;
}
/* .flip-card:active .flip-card-inner{
transform: rotateY(180deg);
} */

.flipped-card-inner{
position: relative;
width: 100%;
height: 100%;
text-align: center;
transition: transform 0.6s;
transform-style: preserve-3d;
/* box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2); */
transform: rotateY(180deg);
}
.flip-card-inner{
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.6s;
  transform-style: preserve-3d;
  /* box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2); */
}

.aboutBlackBoardBack{
background-color: #333;
color: white;
transform: rotateY(180deg);
}

.aboutBlackBoard, .aboutBlackBoardBack{
  background-color: #333;
  font-family: 'Quicksand', sans-serif;
  max-width: 50rem;
  padding: 1rem;
  text-align: center;
  margin: auto;
  border-radius: 5px;
  border: solid white;
  margin-top: 3rem;
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.aboutBlackBoard h3{
  font-family: 'Grape Nuts', cursive;
}

.aboutBlackBoardBack{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}
.aboutBlackBoardBack div{
  width: 33.3%;
  text-align: center;
  margin: auto;
  font-size: 26px;
}

.aboutBlackBoardBack a{
color:#fff;
text-decoration: none;

}
.aboutBlackBoardBack a p{
  text-align: center;
}
.aboutBlackBoardBack div a img{
  align-content: center;
  margin: auto;
  
  
}
.imageCarousel p{
  color: #fff;
  font-family:'Quicksand', sans-serif;
  max-width: 450px;
  text-align: center;
  margin: auto;
  margin-top: 1rem;
}
.imageCarousel h4{
  color: #fff;
  font-family: 'Grape Nuts', cursive;
  text-align: center;
  font-size: 25px;
  margin-bottom: .2rem;
}
.skills{
color: #fff;
text-align: center;
margin-top: 10rem;
font-family: 'Grape Nuts', cursive;
}
.skills h3{
  font-size: 32px;
  color:#da6c1a;
}
.skillList{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  margin: 5rem;
}
.skillList li{
  margin: .75rem;
  font-size: 23px;
  list-style: none;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  padding: 1rem;
  height: 25px;
}
.skillList li:hover{
  background-color: rgb(223, 223, 223) ;
  color: #333;
  border: 1px solid #282c34;
  height: 25px;
}