nav{
  /* border-bottom: 2px solid #ff8c00; */
  /* background-color: azure; */
  height: 2rem;
  margin-top: 0rem;
  
}
nav li{
  list-style: none;
  float: right;
  margin: 0rem 4rem .5rem 0rem;

  padding: 0rem 2rem 1rem 2rem;
}

nav li a:hover{
  color: #fff;
}

/* nav li a{
  font-size: 32px;
  color: orange;
  font-family: 'Quicksand', sans-serif;
  font-weight: 700;
  text-decoration: none;
} */

burger-container{
  position: relative;
  margin: 200px auto;
  width: 100px;
}

burger-box{
  cursor: pointer;
  display: block;
}

burger-box span{
  background-color: #fff;
  display: block;
  width: 100px;
  height: 14px;
  margin-bottom: 10px;
  position: relative;
  top: 0;
  transition: all ease-in-out 0.4s;
}

nav ul li a{
  line-height: 14px;
  font-size: 20px;
  text-decoration: none;
  color: orange;
  font-family: 'Quicksand', sans-serif;
  font-weight: 700;
  text-decoration: none;
}

nav ul li a::after{
  content: '';
  width: 0%;
  height: 2px;
  background: #fff;
  display: block;
  margin: auto;
  transition: 0.5s;
}

nav ul li a:hover::after{
width: 100%;
}
@media only screen and (mind-width: 25em){

}
@media only screen and (mind-width: 38em){

}
@media only screen and (mind-width: 60em){

}


