.gallery{
  margin-bottom: 13rem;

}

.galleryIntroH3{
  font-size: 45px;
  color:#da6c1a;
  text-align: center;
  font-family: 'Grape Nuts', cursive;
  background-color: rgb(249, 238, 214);
  padding: 2rem;
}
.gallery h3{
  font-size: 45px;
  color:#da6c1a;
  text-align: center;
  font-family: 'Grape Nuts', cursive;
  /* padding: 2rem; */
  margin-bottom: 0rem;
}

.projectName{
  font-size: 45px;
  color:#da6c1a;
  text-align: center;
  font-family: 'Grape Nuts', cursive;
  /* padding: 2rem; */
  margin-bottom: 2rem;
  padding-bottom: 2rem;
}

.galleryIntro p{
color:#fff;
text-align: center;
font-family: 'Quicksand', sans-serif;
font-size: 20px;
background-color: rgb(249, 238, 214);
margin-top: 0rem;
margin-bottom: 0rem;
font-size: 20px;
color: #da6c1a;
padding-bottom: 1rem;
}

.imageCarousel{
  position: relative;
  height: 80vh;
  display: flex;
  justify-content: center;
padding-top: 0rem;
}

.image{
height: 85%;
width: inherit;
border-radius: 5px;
align-content: center;
margin: auto;
margin-top: 5rem;
}

.arrowLeft{
  position: absolute;
  height: 4rem;
  width: 2rem;
  top: 45%;
  left: 5%;
  cursor: pointer;
  background-color: #da6c1a;
}
.arrowRight{
  position: absolute;
  height: 4rem;
  width: 2rem;
  right: 5%;
  top: 45%;
  cursor: pointer;
  background-color: #da6c1a;
}

.arrowLeft:hover{
  background-color: #333;
  color:#fff;
}
.arrowRight:hover{
  /* background-color: #da6c1a;
  color:#F9E6B7 */
  background-color: #333;
  color:#fff;
}
.slide{
  opacity: 0;
  transition-duration: 1s ease;
}

.slideActive{
  opacity: 1;
  transition-duration: 1s;
}
.galleryDescrip{
  margin-bottom: 2rem;
  font-size: 20px;
}

h4{
  font-size: 20px; 
}


@media all and (max-width: 1000px) {
  .galleryIntroH3{
    font-size: 30px;
  }
  .projectName{
    font-size: 30px;
  }
  .image{
    height: 35%;
    width: inherit;
    border-radius: 5px;
    align-content: center;
    margin: auto;
    }
  }
  @media all and (max-width: 1305px) {
    .image{
      height: 50%;
      width: inherit;
      border-radius: 5px;
      align-content: center;
      margin: auto;
      }
      .arrowLeft{
        position: absolute;
        height: 4rem;
        width: 2rem;
        top: 35%;
        left: 20%;
        cursor: pointer;
        background-color: #da6c1a;
      }
      .arrowRight{
        position: absolute;
        height: 4rem;
        width: 2rem;
        right: 20%;
        top: 35%;
        cursor: pointer;
        background-color: #da6c1a;
      }
  
    }
    /* @media all and (max-width: 2000px) {
      .image{
        height: 85%;
        width: inherit;
        border-radius: 5px;
        align-content: center;
        margin: auto;
        }
    
      } */



